{% extends "layout.html" %}
{% block body %}

<div class="demo-cards mdl-cell mdl-cell--12-col-tablet mdl-cell--3-col-desktop mdl-grid mdl-grid--no-spacing">
    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" style="margin-top:-8em;">
      <div class="mdl-card__title mdl-card--expand mdl-color--teal-300" style="background-image: url('https://pbs.twimg.com/media/CMOtFivWoAAPP6d.jpg');background-position: 50% 50%;
      background-repeat: no-repeat;min-height: 200px;background-size: cover;">

      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <b class="display-4">Reputation: Bronze</b>


      </div>
      <div class="mdl-card__actions mdl-card--border">

          <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="width:100%;">
            Agendar reunião  <i class="material-icons">check_circle</i>
          </button>


      </div>
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--9-col  mdl-grid">


  <div class="" ><!--demo-card-wide mdl-card mdl-shadow - -2dp -->

    <div class="mdl-grid mdl-grid--12-col mdl-grid--12-col-tablet ">

          <h2 class="mdl-card__title-text">Megan Denise Fox</h2>
          &nbsp;&nbsp;
          <h2 class="mdl-card__title-text"> - USA</h2>

    </div>
    <p>
        <i class="material-icons">grade grade grade grade grade</i>
        <i class="material-icons">favorite</i>

    </p>
    <p class="custom-button">Enable Push Notifications:
      <input id="turn-on-notification" type="checkbox" hidden="hidden" class="custom-input" data-checked="">
      <label for="turn-on-notification" class="custom-checkbox"></label>
    </p>

  </div>
</div>
  <div class="demo-cards mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">




    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
Confiável entre seus circulos:
<br>
           <svg fill="currentColor" width="5em" height="5em" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
             <use xlink:href="#piechart" mask="url(#piemask)" />
             <text x="0.5" y="0.5" font-family="Roboto" font-size="0.5" fill="#888" text-anchor="middle" dy="0.2">76</text>
           </svg>


     </div>

     <div class="demo-separator mdl-cell--1-col"></div>

    <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Verificado</h3>
        <ul>
          <li>
            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Facebook</span>
            </label>
          </li>
          <li>
            <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">LinkedIn</span>
            </label>
          </li>
          <li>
            <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Phone Number</span>
            </label>
          </li>
          <li>
            <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">CPF (This Person is Real)</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Procurar</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">location_on</i>
      </div>
    </div>


    <div class="demo-separator mdl-cell--1-col"></div>

    <div class="demo-options mdl-card mdl-color--grey-500 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Interesses</h3>
        <ul>
          <li>
            #Management #Business
          </li>
          <li>
              #Movies
          </li>

        </ul>
      </div>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>

    <div class="demo-options mdl-card mdl-color--grey-500 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Trabalho e Hobbyes</h3>
        <ul>
          <li>
            #Management #Business
          </li>
          <li>
              #Movies #Bitche
          </li>

        </ul>
      </div>
    </div>
  </div>



  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--9-col mdl-grid">

      <div class="mdl-card__title">

          <p>
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              <img src="https://getmdl.io/templates/dashboard/images/user.jpg" class="avatar" style="max-width:2em;">
              mais outras 23 pessoas
          </p>

      </div>
      {% if session.username %}
          {% if session.username == username %}
          <!-- RESUMO DOS REVIEWS -->
          <div class="mdl-card__supporting-text">
              <h3>O quas pessoas dizem sobre você:</h3>
              <h3>Users similar to you:</h3>
                {% for user in similar %}
                  <p>
                  <a href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
                  also blogs about <i>{{ ", ".join(user.tags) }}</i>
                  </p>
                {% else %}
                  <p>There aren't any users who've blogged about the same tags as you!</p>
                {% endfor %}
              <h3>Your recent posts:</h3>
          </div>
          {% else %}
          <!-- FORM PARA AVALIAR E RESUMO DOS REVIEWS-->
          <div class="mdl-card__supporting-text">
            <h3>O que as pessoas dizem sobre Megan:</h3>
            <p>{{ username }} has liked {{ common.likes }} of your posts and
            {% if common.tags %}
            also blogs about <i>{{ ", ".join(common.tags) }}</i>
            {% else %}
            hasn't blogged about any of the same tags
            {% endif %}
          </p>


          </div>
          <div class="mdl-card__supporting-text">
            <p>
              <form action="{{ url_for('add_review') }}" method="POST">
                  <input type="hidden" name="user_review" value="{{ username }}">
                  <dl>
                      <dt>Review:</dt>
                      <dd><input type="text" size="30" name="text"></dd>
                      <dt>Rating:</dt>
                      <dd><input type="text" size="30" name="rating"></dd>
                  </dl>
                  <input type="submit" value="Review">
              </form>
            </p>
          </div>
          {% endif %}
      {% endif %}
      <div class="mdl-card__actions mdl-card--border">
        <h3>O que as pessoas dizem:</h3>
        {% include "display_reviews.html" %}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <h3>O que {{ username }} diz: </h3>
        {% include "display_posts.html" %}
      </div>

  <!--</div>


  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">-->



  </div>


  <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Alertas</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Você receberá toda semana um alerta sobre suas movimentações de crédito.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
      </div>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
    <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>View options</h3>
        <ul>
          <li>
            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Click per object</span>
            </label>
          </li>
          <li>
            <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Views per object</span>
            </label>
          </li>
          <li>
            <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Objects selected</span>
            </label>
          </li>
          <li>
            <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Objects viewed</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">location_on</i>
      </div>
    </div>
  </div>
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">

      <h4 class="">Histórico de Reviews</h4>

    <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
      <use xlink:href="#chart" />
    </svg>
  </div>


  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: fixed; left: -1000px; height: -1000px;">
          <defs>
            <mask id="piemask" maskContentUnits="objectBoundingBox">
              <circle cx=0.5 cy=0.5 r=0.49 fill="white" />
              <circle cx=0.5 cy=0.5 r=0.40 fill="black" />
            </mask>
            <g id="piechart">
              <circle cx=0.5 cy=0.5 r=0.5 />
              <path d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
            </g>
          </defs>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 250" style="position: fixed; left: -1000px; height: -1000px;">
          <defs>
            <g id="chart">
              <g id="Gridlines">
                <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="27.3" x2="468.3" y2="27.3" />
                <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="66.7" x2="468.3" y2="66.7" />
                <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="105.3" x2="468.3" y2="105.3" />
                <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="144.7" x2="468.3" y2="144.7" />
                <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="184.3" x2="468.3" y2="184.3" />
              </g>
              <g id="Numbers">
                <text transform="matrix(1 0 0 1 485 29.3333)" fill="#888888" font-family="'Roboto'" font-size="9">500</text>
                <text transform="matrix(1 0 0 1 485 69)" fill="#888888" font-family="'Roboto'" font-size="9">400</text>
                <text transform="matrix(1 0 0 1 485 109.3333)" fill="#888888" font-family="'Roboto'" font-size="9">300</text>
                <text transform="matrix(1 0 0 1 485 149)" fill="#888888" font-family="'Roboto'" font-size="9">200</text>
                <text transform="matrix(1 0 0 1 485 188.3333)" fill="#888888" font-family="'Roboto'" font-size="9">100</text>
                <text transform="matrix(1 0 0 1 0 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">1</text>
                <text transform="matrix(1 0 0 1 78 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">2</text>
                <text transform="matrix(1 0 0 1 154.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">3</text>
                <text transform="matrix(1 0 0 1 232.1667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">4</text>
                <text transform="matrix(1 0 0 1 309 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">5</text>
                <text transform="matrix(1 0 0 1 386.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">6</text>
                <text transform="matrix(1 0 0 1 464.3333 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">7</text>
              </g>
              <g id="Layer_5">
                <polygon opacity="0.36"  stroke-miterlimit="10" points="0,223.3 48,138.5 154.7,169 211,88.5
                294.5,80.5 380,165.2 437,75.5 469.5,223.3 	"/>
              </g>
              <g id="Layer_4">
                <polygon stroke-miterlimit="10" points="469.3,222.7 1,222.7 48.7,166.7 155.7,188.3 212,132.7
                296.7,128 380.7,184.3 436.7,125 	"/>
              </g>
            </g>
          </defs>
        </svg>



{% endblock %}
