{% extends "layout.html" %}
{% block body %}



 <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">{{ username }}'s profile</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Bio: Programador, vendedor de carros usados e amante de rap nacional.
        <br>
        Facebook: 3438 amigos
        <br>
        Recomendações positivas: 33
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="../dashboard" class="mdl-button mdl-js-button mdl-js-ripple-effect">Eu confio</a>
        <a href="../dashboard" class="mdl-button mdl-js-button mdl-js-ripple-effect">Não confio</a>
        <a href="../dashboard" class="mdl-button mdl-js-button mdl-js-ripple-effect">Neutro</a>

      </div>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
    <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Quais as qualidades de Rafael</h3>
        <ul>
          <li>
            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Trabalho</span>
            </label>
          </li>
          <li>
            <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Educação</span>
            </label>
          </li>
          <li>
            <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Relacionamento</span>
            </label>
          </li>
          <li>
            <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">TicTac</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Procurar</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">location_on</i>
      </div>
    </div>


    <div class="demo-separator mdl-cell--1-col"></div>

    <div class="demo-options mdl-card mdl-color--grey-500 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Quais as qualidades de Rafael</h3>
        <ul>
          <li>
            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Trabalho</span>
            </label>
          </li>
          <li>
            <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Educação</span>
            </label>
          </li>
          <li>
            <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Relacionamento</span>
            </label>
          </li>
          <li>
            <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">TicTac</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Procurar</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">location_on</i>
      </div>
    </div>

  </div>


  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">

    <div class="demo-card-wide mdl-card mdl-shadow - -2 d p " >
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ name }}</h2>
      </div>
      {% if session.username %}
          {% if session.username == username %}
          <div class="mdl-card__supporting-text">
              <h3>Users similar to you:</h3>
                {% for user in similar %}
                  <p>
                  <a href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
                  also blogs about <i>{{ ", ".join(user.tags) }}</i>
                  </p>
                {% else %}
                  <p>There aren't any users who've blogged about the same tags as you!</p>
                {% endfor %}
              <h3>Your recent posts:</h3>
          </div>
          {% else %}
          <div class="mdl-card__supporting-text">
            <p>{{ username }} has liked {{ common.likes }} of your posts and
            {% if common.tags %}
            also blogs about <i>{{ ", ".join(common.tags) }}</i>
            {% else %}
            hasn't blogged about any of the same tags
            {% endif %}
          </p>


          </div>
          <div class="mdl-card__supporting-text">
            <p>
              <form action="{{ url_for('add_review') }}" method="POST">
                  <input type="hidden" name="user_review" value="{{ username }}">
                  <dl>
                      <dt>Review:</dt>
                      <dd><input type="text" size="30" name="text"></dd>
                      <dt>Rating:</dt>
                      <dd><input type="text" size="30" name="rating"></dd>
                  </dl>
                  <input type="submit" value="Review">
              </form>
            </p>
          </div>
          {% endif %}
      {% endif %}
      <div class="mdl-card__actions mdl-card--border">
        <h3>{{ username }}'s reviews:</h3>
        {% include "display_reviews.html" %}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <h3>{{ username }}'s recent posts:</h3>
        {% include "display_posts.html" %}
      </div>
    </div>
  <!--</div>


  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">-->


  <ul class="demo-list-three mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line">
  <span class="mdl-list__item-primary-content">
  <i class="material-icons mdl-list__item-avatar">business</i>

  <span>Startup Qualquer</span>
  <span class="mdl-list__item-text-body">
  Fizemos negócio com Rafael. Recomendo!!
  </span>
  </span>
  <span class="mdl-list__item-secondary-content">
  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></a>
  </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
  <span class="mdl-list__item-primary-content">
  <i class="material-icons  mdl-list__item-avatar">person</i>
  <span>Paul Silva</span>
  <span class="mdl-list__item-text-body">
  Comprei um carro de Rafael, não tenho o que reclamar, honesto, tranquilo. Recomendo!
  </span>
  </span>
  <span class="mdl-list__item-secondary-content">
  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></a>
  </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
  <span class="mdl-list__item-primary-content">
  <i class="material-icons  mdl-list__item-avatar">person</i>
  <span>Bob Burniquist</span>
  <span class="mdl-list__item-text-body">
  Comprei uma mega rampa de Rafael, negociação excelente, tivemos um problema no produto, garantia ok, recebi um novo em 3 dias.
  </span>
  </span>
  <span class="mdl-list__item-secondary-content">
  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></a>
  </span>
  </li>
  </ul>
  </div>
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
    <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
      <use xlink:href="#chart" />
    </svg>
    <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
      <use xlink:href="#chart" />
    </svg>
  </div>

  <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Alertas</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Você receberá toda semana um alerta sobre suas movimentações de crédito.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
      </div>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
    <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>View options</h3>
        <ul>
          <li>
            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Click per object</span>
            </label>
          </li>
          <li>
            <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Views per object</span>
            </label>
          </li>
          <li>
            <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Objects selected</span>
            </label>
          </li>
          <li>
            <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
              <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Objects viewed</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">location_on</i>
      </div>
    </div>
  </div>




{% endblock %}
